@import "tailwindcss";

@theme {
  --color-primary: #F7FAFF;
  --color-secondary: #111827;
  --color-accent: #27302b;
  --color-gold: #e29816;
}

/* Customize the entire scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
/* Customize the scrollbar track (background) */
::-webkit-scrollbar-track {
  background-color: transparent;
}
/* Customize the scrollbar thumb (draggable part) */
::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}